<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.majorworld.alldeal">

    <queries>
        <package android:name="com.kakao.talk" />
        <!-- 토스 -->
        <package android:name="viva.republica.toss" />
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:scheme="supertoss" />
        </intent>
        <!-- 삼성카드 -->
        <package android:name="kr.co.samsungcard.mpocket" />
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:scheme="mpocket.online.ansimclick" />
        </intent>
        <!-- 현대카드 -->
        <package android:name="com.hyundaicard.appcard" />
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:scheme="hdcardappcardansimclick" />
        </intent>
        <!-- 현대카드공인인증서 -->
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:scheme="smhyundaiansimclick" />
        </intent>
        <!-- 우리카드앱카드 -->
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:scheme="wooripay" />
        </intent>
        <!-- 신한카드앱카드 -->
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:scheme="shinhan-sr-ansimclick" />
        </intent>
        <!-- 신한카드공인인증서 -->
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:scheme="smshinhanansimclick" />
        </intent>
        <!-- 국민카드앱카드 -->
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:scheme="kb-acp" />
        </intent>
        <!-- 롯데카드모바일결제 -->
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:scheme="lottesmartpay" />
        </intent>
        <!-- 롯데카드앱카드 -->
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:scheme="lotteappcard" />
        </intent>
        <!-- 하나카드앱카드 -->
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:scheme="cloudpay" />
        </intent>
        <!-- 농협카드-앱카드 -->
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:scheme="nhappvardansimclick" />
        </intent>
        <!-- 농협카드공인인증서 -->
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:scheme="nonghyupcardansimclick" />
        </intent>
        <!-- 씨티카드공인인증서 -->
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:scheme="citicardappkr" />
        </intent>
        <!-- ISP모바일 -->
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:scheme="ispmobile" />
        </intent>
    </queries>

    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 네트워크 상태 퍼미션 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <!-- 카메라 퍼미션 -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.CAMERA2" />
    <uses-feature android:name="android.hardware.camera" android:required="true" />
    <!-- 5.0 버전 파일업로드 퍼미션 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" android:maxSdkVersion="32"/>
    <!-- 외부 저장소 사용 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- android 13  파일업로드 퍼미션 -->
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES"/>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/alldeal_launch"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:supportsRtl="true"
        android:theme="@style/Theme.Alldeal"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
        <!--
        <activity
            android:name=".IntroActivity"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:padding="0dp" />
        -->
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:padding="0dp" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <service
            android:name=".MyFireBaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
    </application>

</manifest>